# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debug folder
Debug

# Complie help folder
ipch

# VS2010 Open File
SAPI_SDK_C.suo
SAPI_SDK_C.sdf
SAPI_SDK_C.sln
SAPI_SDK_C.opensdf

